---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
	
	<section class="flex flex-col  text-left justify-center w-[50%] mx-60 mt-20">
		<div class="flex flex-row items-center gap-x-3 w-fit">
		<img src="/Gtvqx4TXgAAdIpa.jpg" alt="" class="size-40 mb-4 rounded-full shadow-lg object-cover" />
		<button class="bg-zinc-700 ring-2 ring-teal-600 text-white px-2 py-1 rounded-full cursor-pointer hover:scale-105 transition-transform duration-300"> <a href="https://www.linkedin.com/in/tomas-ponce-22a1b533a/" target="_blank">Disponible para trabajar</a> </button>
		</div>
		<h1 class="text-5xl font-bold">Hola, soy Tomás Ponce</h1>
		<h2 class="text-xl font-semibold text-wrap opacity-80">Un apasionado desarrollador web con experiencia en <span class="text-amber-200">JavaScript</span> y <span class="text-amber-600">Astro</span>. Me encanta crear aplicaciones web interactivas y eficientes.</h2>
		
	</section>
  </main>
</Layout>
