---
import Layout from '../layouts/Layout.astro';
import Badge from '../components/Badge.astro';
---

<Layout>
  <main>
	
	<section class="flex flex-col text-left justify-center w-fit mt-30">
		<div class="flex flex-row items-center gap-x-3 w-fit">
		<img src="/Gtvqx4TXgAAdIpa.jpg" alt="" class="size-35 mb-4 rounded-full shadow-lg object-cover" />
		<Badge > <a href="https://www.linkedin.com/in/tomas-ponce-22a1b533a/" target="_blank" >Disponible para trabajar</a> </Badge>
		
		</div>
		<p class="opacity-70">Hola, soy</p> 
		<h1 class="text-5xl font-bold">Tomás Ponce</h1>
		<h2 class="text-xl font-semibold text-wrap opacity-80">Un apasionado desarrollador web con experiencia en <span class="text-amber-200">JavaScript</span> y <span class="text-amber-600">Astro</span>. <br> Me encanta crear aplicaciones web interactivas y eficientes.</h2>
		
	</section>

	<section>

	</section>
  </main>
</Layout>
