---
const { class: className } = Astro.props;
---
<span class=` inline-flex items-center rounded-md bg-gray-300 px-2 py-1 text-sm font-medium text-gray-800 ring-2 ring-gray-300 
            ${className}`>
    
 <slot/>
</span>
