

<footer class="shadow-sm mb-5 ">
    <div class="w-full flex gap-30">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"> 
        Casi todos los derechos reservados
        
    </span>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">
        Diseño inspirado en el Portfolio desarrollado por Midudev
    </span>
    
    </ul>
    </div>
</footer>
