<header class="flex justify-center mt-2">
    
    <nav class="flex gap-3 text-white bg-gray-600 text-center px-3 rounded-full py-1
        shadow-lg shadow-gray-600/30 ">
        <a href="/" class="hover:bg-gray-500 transition duration-300 px-2 rounded-full">Home</a>
        <a href="/about" class="hover:bg-gray-500 transition duration-300 px-2 rounded-full">About</a>
        <a href="/projects" class="hover:bg-gray-500 transition duration-300 px-2 rounded-full">Proyectos</a>
        <a href="/contact" class="hover:bg-gray-500 transition duration-300 px-2 rounded-full">Contacto</a>
    </nav>

</header>