<main class="flex flex-col items-center justify-center">
    <img src="" alt="">
    <h1>Tomás Ponce</h1>
    <h2>Desarrollador Web</h2>
    <p>Hola, soy Tomás Ponce, un apasionado desarrollador web con experiencia en JavaScript y Astro. Me encanta crear aplicaciones web interactivas y eficientes.</p>

</main>