---
import '../styles/global.css';
const name = 'Hola, soy Tomas Ponce'
const title = 'Bienvenido a mi portfolio'
const description = 'Este es mi portfolio personal, donde muestro mis proyectos y habilidades.'
const skills = ['JavaScript', 'React', 'Node.js', 'CSS', 'HTML'];
---

<div id="container" >
	<a href="/">Home</a>
    <a href="/about">Sobre mí</a>
	<h1 class="text-purple-400 text-[3rem]">{name}</h1>
	<h2 class="text-blue-950 text-[2rem]">{title}</h2>
	<p>{description}</p>
	
	<h3>Skills</h3>
	<ul class="text-green-800 font-bold">
		{skills.map(skill => (
			<li>{skill}</li>
		))}
	</ul>
	<ul>
      	<li><a href="/posts/post-1/">Publicación 1</a></li>
	  	<li><a href="/posts/post-2/">Publicación 2</a></li>
		<li><a href="/posts/post-3/">Publicación 3</a></li>
    </ul>
</div>