---
import '../styles/global.css';
---

<div id="container" >
	<a href="/">Home</a>
    <a href="/about">Sobre mí</a>	
	<h1 >Welcome to my first page</h1>
	<p>Description</p>
	 <p class="text-gray-600">This is a simple page created with Astro.</p>
</div>